body
{
	font-family: sans-serif;
	padding: 0;
	margin:0;
	background-color: #f2f2f2;
}
ul li
{
	display: inline;
	list-style: none;
}
.container 
{
  background-color: #f1f1f1;
}
.child 
{
  max-width: 95%;
  margin:0 auto;
}
.child > div
{
	border:2px solid tomato;
	display: inline-block;
	margin:2px;
	min-height: 40px;
	min-width: 70px;
	
	border-radius: 1em;
	padding: 5px 6px;
	position:relative;
}
#firstCol div
{
	background-color: #f1f1f1;
}
#secondCol div
{
	background-color: #ff9966;
}
.outterDiv
{
	position:relative;
}
.edit, .delete
{
	position:absolute;
	top:-.3em;
	right:-.8em;
	width:1em;
	height:1em;
	border-radius:50%;
	display:block;
	background: lime;
}
.delete
{
	top:5em;
	background:red;
}
.child > div:hover
{
	box-shadow: 8px 8px 20px #999;
}
.child > div a
{
	display: block;
	width:100%;
	height: 100%;
	text-decoration: none;
	font-size: 0.5em;
	font-weight: 600;
	color:#000011;
	text-align: center;
}
.child > div a img
{
	margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
}
.selects
{
	text-align: center;
	font-size: 0.6em;
}
select
{
	font-size: 1.5em;
	max-width: 150px;
}
.selects span
{
	font-weight: 600;
	color:#000;
	font-size: 20px;
}
.selects div 
{
	margin: 0 0 5px 0; 
}
.selects button
{
	border-radius: 5px;
}
.highlight
{
	background: lime;
}
#firstCol :after
{
	content: '';
	display:block;
	clear:both;
}
nav
{
	display:flex;
	justify-content: space-between;
	height: 40px;
	margin-bottom: 5px;
}
nav ul
{
	list-style-type: none;
	padding:0;
	margin:0;
}
nav a
{
	text-decoration: none;
	text-align: center;
	display:block;
	float:left;
	padding: 5px;
	margin:0 5px;
	border:1px solid red;
}
.wrapper
{
	width:100%;
	max-width: 1200px;
	margin:0 auto;
}
button
{
	height:100%;
	width:auto;
	border-radius: 1em 1.5em;
	font-family: sans-serif;
	font-size: 22px;
	background-color: #f1f1f1;
	color:#555;
	transition: 1s;
	border:1px solid black;
	box-shadow: 4px 5px 5px;
}
button:active
{
	transform: rotateX(360deg);
}
button:hover
{
	transform: rotateY(20deg);
}
.modal
{
	display:block;
	width:150px;
	height:100px;
	background: #d64161;
	z-index: 10;
	position:absolute;
	text-align: center;
	border-radius: 0 1em 1em 1em;
	border:1px solid #000045;
	padding-top: 20px;
	box-shadow: 4px 5px 5px #555;
}
.modal button
{
	width:100px;
	height:30px;
	font-size: 0.5rem;
	font-weight: 600;
	transform:none;
	border-radius: 5px;
	color:#ff7b25;
	background-color:#6b5b95;
	box-shadow: none;
}